@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.sidebar {
  background-color: #ffffff;
  position: fixed;
  top: 30%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Define the transition */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 100000;
  border-radius: 20px;
}

.collapsed {
  width: 40px;
  height: 200px;
}

.expanded {
  width: 400px;
  height: 600px;
  top: 15%;
}

.toggle-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: 'Outfit', sans-serif;
  writing-mode: vertical-lr;
  height: 200px;
  width: 40px;
  cursor: pointer;
  color: black;
}

.sidebar-content {
  text-align: center;
  padding-left: 0;
  width: 100%;
}

.main-header {
  display: flex;
  font-size: large;
  font-family: 'Outfit', sans-serif;
  align-items: center;
  justify-content: center;
  width: 360px;
}

.title-linear {
  background-image: linear-gradient(to right, #66dddd, #a5e8c4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 35px;
}

.description {
  color: #66BBB7;
  font-size: 18px;
  display: inline-block;
  width: 60%;
}

.start-button {
  background-image: linear-gradient(to right, #258585, #A5E8C4);
  width: 60%;
  font-size: 20px;
  border: 1px #03E5BC;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  position: absolute;
  top: 88%;
  left: 50%; /* 左侧偏移50% */
  transform: translateX(-50%); /* 水平居中 */
  color: white;
}

.welcome {
  height: 600px;
  width: 400px;
  background-image: url('https://terminal3.s3.us-west-1.amazonaws.com/imgs/background.svg');
  background-repeat:no-repeat;
}